<nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-3">
    <a class="navbar-brand" href="#">MesAnimaux.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ app.request.get('_route') == 'app_animaux_index' ? 'active' : '' }}">
                <a class="nav-link" href="{{ path('app_animaux_index') }}">Animaux</a>
            </li>
            <li class="nav-item {{ app.request.get('_route') == 'app_famille_index' ? 'active' : '' }}">
                <a class="nav-link" href="#">Familles</a>
            </li>
        </ul>
     </div>
</nav>